<%- include("./partials/header") %>
<body style="align-items: center;">
    <div class="container">
        <h1 style="color: rgb(235, 208, 172);"> Registration Form</h1>
        <form class="col-3" action="/" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
                <input type="text" name="name" required class="form-control"  placeholder="Enter full name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>UserName</b></label>
                <input type="text" name="username" required class="form-control"  placeholder="Enter user name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Email</b></label>
                <input type="email" name="email" required class="form-control"  placeholder="Enter email address">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Phone</b></label>
                <input type="text" name="phone" required class="form-control"  placeholder="Enter phone No.">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>password</b></label>
                <input type="password" name="password" required class="form-control"  placeholder="Enter password">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>College Name</b></label>
                <input type="text" name="collegeName" required class="form-control"  placeholder="enter college name">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"><b>Gender</b></label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" required type="radio" name="gender" id="inlineRadio1" value="female">
                    <label class="form-check-label" for="inlineRadio1">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" required type="radio" name="gender" id="inlineRadio2" value="male">
                    <label class="form-check-label" for="inlineRadio2">Male</label>
                  </div>
              </div>
              
              
              <button type="submit" class="btn btn-success"
              >Register</button>


        </form>

    </div>
 

  </body>
